/* Se importan las fuentes de texto */
@font-face {
    font-family: "gulfs-display";
    src: url(fuentes/GulfsDisplay-Normal.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "anybody";
    src: url(fuentes/Anybody-Black.ttf);
}

/* Para ordenar las secciones que salgan en forma de columnas */
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* Estilo menu hamburguesa */
a{
    text-decoration: none;
}

ol,ul{
    list-style: none;
}

.header {
    height: 50px;
    background-color: rgb(251,180,204);
}

.navbar {
    height: 10px;
    display: flex;
    justify-content: end;
    align-items: right;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.menu_hamburguesa{
    display: none;
}

.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - 80px);
}

.list_icon {
    color: black;
    cursor: pointer;
}

.ul_links {
    width: 100%;
    background-color: rgb(251,180,204);
    position: absolute;
    top: 80px;
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    /* transition: all .3s; */
}

.link {
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

/* Para que se recoja el menu hamburguesa */
@media (min-width:768px){
    .labe_hamburguesa {
        display: none;
    }
    .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }
    .link{
        font-size: 1.2rem;
        /* transition: all .3s; */
        padding: .2rem .7rem;
    }
    .link:hover{
        background-color: rgb(251,180,204);
    }
}

/* Seccion Inicial y menu */
.Inicial_Menu {
    height: 100vh;
    width: 100vw;
    font-family: 'gulfs-display', sans-serif;
}

.PagSup {
    background-color: rgb(251,180,204);
    height: 65%;
    padding: 5px;
}

.Titulo {
    font-size: 3vw;
    line-height: 0.9;
    text-align: center;
    color: rgb(23,94,239);
}

.imgprin {
    border: 1px solid black;
    border-radius: 220px;
    margin-left: 37.7%;
    height: 66%;
    width: 24%;
    position: absolute;
    top: 35%;
}

.imgder {
    border: 1px solid black;
    border-radius: 10%;
    margin-left: 75%;
    position: absolute;
    top: 23%;
    width: 11%;
    height: 30%;
}

.imgizq {
    border: 1px solid black;
    border-radius: 10%;
    position: absolute;
    margin-left: 12%;
    top: 45%;
    width: 18%; 
    height: 45%;
}

.PagInf {
    background-color: rgb(251,243,93);
    border: 2px solid rgb(251,243,93);
    border-top-color: black;
    height: 1090px;
}

.icon1{
    width: 5%;
    position: absolute;
    top: 42%;
    margin-left: 71.7%;
}

.icon2 {
    width: 3%;
    position: absolute;
    top: 40%;
    margin-left: 31.8%;
}

.icon3 {
    width: 2%;
    position: absolute;
    top: 21%;
    margin-left: 27%;
}

.icon4 {
    width: 2%;
    position: absolute;
    top: 50%;
    margin-left: 66%;
}

.icon5 {
    width: 7%;
    position: absolute;
    top: 60%;
    margin-left: 34%;
}

.icon6 {
    width: 10%;
    position: absolute;
    top: 58%;
    margin-left: 65%;
}

/* Seccion Nosotros */
.Nosotros {
    height: 100vh;
    width: 100vw;
}

.filas {
    display: flex;
    flex-direction: row;
}

.imgnosotros {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 25rad;
}

.imgfiesta {
    width: 43%;
    padding: 5px;
}

.texto {
    width: 40%;
    margin-right: 10%;
}

.texto > p {
    font-size: 110%;
}
.hola {
    width: 80%;
}

.icNosotrosSup {
    display: flex;
    flex-direction: row;
}

.ic1nos {
    padding: 1%;
}

.ic2nos {
    position: absolute;
    margin-left: 83%;
    text-align: left;
}

.icNosotrosInf {
    display: flex;
    flex-direction: row;
}
.ic3nos {
    padding: 1%;
}

.ic4nos {
    position: absolute;
    margin-left: 97%;
    
}

.icnupcialista {
    width: 10%;
    margin-top: -20%;
}

/* Seccion Galeria */
.Galeria {
    height: 100vh;
    width: 100vw;
}

.PartSup {
    background-color: white;
    height: 65%;
}

.PartInf {
    background-color: rgba(255,101,65,255);
    height: 35%
}

/* .ImgSup {

}

.ImgInf {
z
} */

.img1 {
    width: 15%;
    
}

.img2 {
    width: 15%;
}

.img3 {
    width: 15%;
}

.img4 {
    width: 15%;
}

.img5 {
    width: 15%;
}

.img6 {
    width: 15%;
}

.img7 {
    width: 15%;
}

.img8 {
    width: 15%;
}